dist*
static/tmp/
config/client_session_key.aes
*.hi
*.o
*.sqlite3
*.swp
.hsenv*
cabal-dev/
yesod-devel/
build/
cache/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
fay/Language/
yesod-fay
static/faygen-*
static/combined
static/fay-runtime.js
fay/Home.js
log/
